[Unit]
Description=Lniri (Liquid Glass) — scrollable-tiling Wayland compositor
BindsTo=graphical-session.target
Before=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target

Wants=xdg-desktop-autostart.target
Before=xdg-desktop-autostart.target

[Service]
Slice=session.slice
Type=notify
Environment="LD_LIBRARY_PATH=/usr/local/lib:%h/.local/lib"
ExecStart=/usr/local/bin/lniri --session
